# =====================
# 数据文件（不上传）
# =====================
*.csv
*.parquet
*.xlsx
*.json

# =====================
# 数据文件夹
# =====================
data/
dataset/
input/

# =====================
# 模型文件
# =====================
*.pkl
*.pt
*.model

# =====================
# Python缓存
# =====================
__pycache__/
*.pyc

# =====================
# Jupyter缓存
# =====================
.ipynb_checkpoints/

# =====================
# 系统垃圾
# =====================
.DS_Store
Thumbs.db